body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

.section {
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: lightgray;
    border: 1.5px solid black;
}

#timeResults {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}